<ion-header>
    <ion-toolbar>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <form #form="ngForm" (ngSubmit)="login(form)" method="post">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="user.email" name="email"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input  type="password" [(ngModel)]="user.password" name="password"></ion-input>
      </ion-item>
    
      <ion-button type="submit" expand="full" color="primary">Login</ion-button>
    </form>
    <p text-center>Don't have a account?</p>
    <ion-button expand="full" color="danger" (click)="register()">Register</ion-button>
  </ion-content>
