<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form #form="ngForm" (ngSubmit)="registerUser()" method="post">
    <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input   name ="firstname"[(ngModel)]="user.firstname"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input name ="Last Name"[(ngModel)]="user.lastname"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name ="email"[(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cellphone Number</ion-label>
      <ion-input type="number" name ="mobileNumber"[(ngModel)]="user.mobileNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name ="password"[(ngModel)]="user.password" ></ion-input>
    </ion-item>
  
    <ion-button type="submit" expand="full" color="danger">Register</ion-button>
  </form>
  <p text-center>Already have a account?</p>
  <ion-button expand="full" color="primary" (click)="login()">Login</ion-button>
</ion-content>  